@if (lessonData) {
  <div>
    <h1>{{ lessonData.lesson_title }}</h1>

    @for (chapter of lessonData.units; track chapter) {
      <div>
        <h2>{{ chapter.chapter_title }}</h2>

        @for (section of chapter.u_obj; track section) {
          <div [innerHTML]="section.content"></div>
          <div [innerHTML]="section.know"></div>

          @if (section.images?.length) {
            <div>
              <h3>Նկարներ</h3>

              @for (img of section.images; track img) {
                <div>
                  <img [src]="img.path" [alt]="img.title" style="max-width: 300px; margin: 10px 0;" />
                  <p>{{ img.title }}</p>
                </div>
              }
            </div>
          }
        }
      </div>
    }
  </div>
}
