@if (lessonData) {
  <div style="text-align: center">
    <h1>{{ lessonData.lesson_title }}</h1>

    @for (chapter of lessonData.units; track chapter) {
      <div>
        <h2>{{ chapter.chapter_title }}</h2>

        @for (section of chapter.u_obj; track section) {
<!--          <div [innerHTML]="section.content"></div>-->
          <app-interactive-html
            [html]="section.content"
            (showMeaning)="openMeaning($event)">
          </app-interactive-html>
<!--          <div [innerHTML]="section.know"></div>-->
          <app-interactive-html
            [html]="section.know"
            (showMeaning)="openMeaning($event)">
          </app-interactive-html>
          @if (section.images?.length) {
            <div>
<!--              <h3>Նկարներ</h3>-->

              @for (img of section.images; track img) {
                <div>
                  <img [src]="img.path" [alt]="img.title" style="max-width: 300px; margin: 10px 0;" />
                  <p>{{ img.title }}</p>
                </div>
              }
            </div>
          }
        }
      </div>
    }
    @if (lessonData.quiz?.length) {
      <div style="margin-top: 40px;">
        <h2>Հարցարան</h2>

        @for (quiz of lessonData.quiz; track quiz) {
          <div class="quiz-item" style="margin-bottom: 20px; padding: 10px; border: 1px solid #ccc;">
            <div [innerHTML]="quiz.question"></div>
            <p><strong>{{ quiz.text }}</strong></p>
            <ul style="list-style-type: none; padding-left: 0;">
              @for (choice of quiz.cases; track choice) {
                <li style="margin: 5px 0;">
                  <label>
                    <input
                      type="radio"
                      name="quiz-{{quiz.text}}"
                      [value]="choice"
                      (change)="checkAnswer(quiz, choice)"
                    />
                    {{ choice }}
                  </label>
                </li>
              }
            </ul>
            @if (quiz.selected){
              <div>
          <span
            [style.color]="quiz.selected === quiz.answer ? 'green' : 'red'"
          >
            {{ quiz.selected === quiz.answer ? 'Ճիշտ է ✅' : 'Սխալ է ❌' }}
          </span>
              </div>
            }

          </div>
        }
      </div>
    }

  </div>

}
@if (modalText){
  <div class="modal">
    <div class="modal-content paper-modal">
      <p [innerHTML]="modalText"></p>
      <button (click)="modalText = null">Փակել</button>
    </div>
  </div>
}
